<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPMIPA - Dashboard</title>

    <!-- ======= Style ====== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Ruangkelas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style>
        /* Background color for cells with content "Terpakai" */
        #jadwal-body td[data-content="Terpakai"] {
            background-color: red !important;
            color: white;
            /* Text color for better contrast */
            cursor: pointer;
            /* Change cursor to pointer to indicate clickable */
        }

        /* Style for the popup */
        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 20px;
            border-radius: 10px;
            z-index: 1000;
            display: none;
            /* Initially hidden */
        }

        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            cursor: pointer;
        }

        /* Style for the booking button */
        #booking-button {
            background-color: #4CAF50;
            /* Warna latar hijau */
            color: white;
            /* Warna teks putih */
            padding: 10px 20px;
            /* Padding tombol */
            border: none;
            /* Menghapus border */
            border-radius: 5px;
            /* Border radius */
            font-size: 16px;
            /* Ukuran font */
            cursor: pointer;
            /* Mengubah kursor menjadi pointer saat diarahkan */
            transition: background-color 0.3s;
            /* Transisi untuk perubahan warna latar */
        }

        /* Hover effect untuk tombol */
        #booking-button:hover {
            background-color: #45a049;
            /* Warna latar hijau lebih gelap saat dihover */
        }
    </style>
</head>

<body>
    <!-- ========  SideBar ======= -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="icon">
                            <!-- <ion-icon name="logo-whatsapp"></ion-icon> -->
                            <img src="{{ url_for('static', filename='images/FPMIPAUPI.png')}}" alt="FPMIPA"
                                class="logo-img">
                        </span>
                        <span class="title-brand">Jadwal <br>
                            <b>FPMIPA UPI</b>
                        </span>

                    </a>
                </li>

                <li>
                    <a href="/home">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/diagram">
                        <span class="icon">
                            <ion-icon name="duplicate-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard">
                        <span class="icon">
                            <ion-icon name="podium-outline"></ion-icon>
                        </span>
                        <span class="title">Recap FPMIPA</span>
                    </a>
                </li>
                <li>
                    <button id="darkModeToggle" onclick="toggleDarkMode()">
                        <span class="icon">
                            <ion-icon name="contrast-outline"></ion-icon>
                        </span>
                        <span class="title">Dark Mode</span>
                    </button>
                </li>
            </ul>
            <footer>
                <!-- Tautan Sosial Media -->
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/hanifahah" target="_blank" rel="noopener noreferrer">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                    <a href="https://github.com/HanifahAH01" target="_blank" rel="noopener noreferrer">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                    <a href="https://www.instagram.com/hah_hanifah" target="_blank" rel="noopener noreferrer">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    <a href="http://Wa.me/+6281364986912" target="_blank" rel="noopener noreferrer">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                    </a>
                    <a href="hanifah al humaira#1327" target="_blank" rel="noopener noreferrer">
                        <ion-icon name="logo-discord"></ion-icon>
                    </a>
                    <!-- Tambahkan tautan dan ikon untuk sosial media lainnya sesuai kebutuhan -->
                </div>

                <p>&copy; 2024 FPMIPA UPI. Dibuat oleh Hanifah.</p>
            </footer>
        </div>

        <!-- ============== Main ============== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="grid-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search Here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <!-- <div class="user">
                    <img src="assets/profile-1.jpg" alt="User">
                </div> -->
            </div>

            <!-- ==========Details List=========== -->
            <!-- Details -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Ruang Kelas</h2>
                        <div class="btn-group">
                            <a href="#" class="btn" onclick="viewAll()">
                                <select id="viewOption">
                                    <option value="heatmap-container" >Heatmap</option>
                                    <option value="Jadwal" selected>Jadwal</option>
                                </select>
                            </a>
                            <a href="/report" class="btn-secondary">Report</a>
                            <a href="/laporan" class="btn-thirdty">Laporan</a>
                        </div>
                    </div>
                    <div id="heatmap-container" style="width: 800px; height: 600px; display: none;"></div>
                    <div id="Jadwal" style="display: none;">
                        <table>
                            <thead>
                                <tr>
                                    <td>Nama Ruangan</td>
                                    <td>Senin</td>
                                    <td>Selasa</td>
                                    <td>Rabu</td>
                                    <td>Kamis</td>
                                    <td>Jumat</td>
                                    <td>Sabtu</td>
                                    <td>Minggu</td>
                                </tr>
                            </thead>
                            <tbody id="jadwal-body">
                                {% for jadwal in grouped_jadwal %}
                                <tr>
                                    <td>{{ jadwal[1] }}</td>
                                    <td>{{ jadwal[2] }}</td>
                                    <td>{{ jadwal[3] }}</td>
                                    <td>{{ jadwal[4] }}</td>
                                    <td>{{ jadwal[5] }}</td>
                                    <td>{{ jadwal[6] }}</td>
                                    <td>{{ jadwal[7] }}</td>
                                    <td>{{ jadwal[8] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <!-- ======== Popup ======= -->
        <div id="popup" class="popup">
            <span class="close-btn" onclick="closePopup()">&times;</span>
            <p id="popup-content"></p>
            <button id="booking-button" data-whatsapp="628819915128" onclick="openWhatsApp()">Booking via
                WhatsApp</button>
        </div>

        <!-- ======== Script ========= -->

        <script>
            window.addEventListener('DOMContentLoaded', function () {
                var tbody = document.getElementById('jadwal-body');
                var rows = tbody.getElementsByTagName('tr');
                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName('td');
                    for (var j = 1; j <= 7; j++) { // Kolom 2 (Senin) hingga 8 (Minggu)
                        var cellContent = cells[j].innerHTML.trim(); // Menghapus spasi di awal dan akhir
                        if (cellContent.includes(',')) { // Jika terdapat koma dalam sel
                            cells[j].innerHTML = 'Terpakai'; // Mengganti dengan "Terpakai"
                            cells[j].classList.add('terpakai'); // Tambahkan kelas CSS untuk menandai sebagai "Terpakai"
                            cells[j].setAttribute('data-content', cellContent); // Menambahkan atribut data-content dengan isi sel
                            cells[j].addEventListener('click', openPopup);
                        } else if (isTime(cellContent)) { // Jika isi sel adalah waktu
                            cells[j].setAttribute('data-content', cellContent); // Menambahkan atribut data-content dengan isi sel
                            cells[j].addEventListener('click', openPopup);
                        }
                    }
                }
            });

            function isTime(content) {
                // Implementasi sederhana untuk memeriksa apakah konten adalah waktu dalam format tertentu (HH:mm-HH:mm)
                return /\d{2}:\d{2}-\d{2}:\d{2}/.test(content);
            }

            function openPopup(event) {
                var popup = document.getElementById('popup');
                var content = event.target.getAttribute('data-content'); // Mendapatkan isi sel yang diklik
                var popupContent = document.getElementById('popup-content');
                popupContent.textContent = content; // Menampilkan isi sel dalam popup

                var bookingButton = document.getElementById('booking-button');
                if (event.target.classList.contains('terpakai')) {
                    // Jika sel terpakai, sembunyikan tombol booking
                    if (bookingButton) {
                        bookingButton.style.display = 'none';
                    }
                } else {
                    // Jika sel tidak terpakai, tampilkan tombol booking
                    if (bookingButton) {
                        bookingButton.style.display = 'block';
                    }
                }

                popup.style.display = 'block';
            }

            function closePopup() {
                var popup = document.getElementById('popup');
                popup.style.display = 'none';
            }

            // Fungsi untuk membuka aplikasi WhatsApp dengan nomor yang ditentukan
            function openWhatsApp() {
                var whatsappNumber = document.getElementById('booking-button').getAttribute('data-whatsapp');
                var whatsappUrl = 'https://wa.me/' + whatsappNumber;
                window.open(whatsappUrl, '_blank');
            }
        </script>

        <script>
            // Sample data (replace with your own data)
            var data = [
                { x: ['Span1', 'Span2', 'Span3', 'Span4'], y: ['Senin', 'Selasa', 'Rabu'], z: [[3, 4, 5, 6], [1, 2, 3, 4], [6, 5, 4, 3]], type: 'heatmap' }
            ];

            // Layout configuration
            var layout = {
                title: 'Heatmap with Span on X-axis',
                xaxis: {
                    title: 'Span'
                },
                yaxis: {
                    title: 'Hari'
                }
            };

            // Plot the heatmap
            Plotly.newPlot('heatmap-container', data, layout);
        </script>

        <Script src="{{ url_for('static', filename='js/Ruangkelas.js') }}"></Script>

        <!-- ======== Ionicons ======== -->
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>