<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPMIPA - Dashboard</title>

    <!-- ======= Style ====== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

    <div class="wrapper">
        <div class="form-wrapper sign-in">
            <form action="{{ url_for('login') }}" method="POST">
                <h2>Login</h2>
                <div class="input-group">
                    <input type="text" name="nip" required>
                    <label for="">NIP</label>
                </div>
                <div class="input-group">
                    <input type="password" name="password" required>
                    <label for="">Password</label>
                </div>
                <button type="submit" name="login">Login</button>
                <div class="signUp-link">
                    <p>Don't have an account? <a href="#" class="SignUpBtn-link" id="signUp">Sign Up</a></p>
                </div>
            </form>
        </div>
        <div class="form-wrapper sign-up">
            <form action="{{ url_for('login') }}" method="POST">
                <h2>Sign Up</h2>
                <div class="input-group">
                    <input type="text" name="nip" required>
                    <label for="">NIP</label>
                </div>
                <div class="input-group">
                    <input type="password" name="password" required>
                    <label for="">Password</label>
                </div>
                <div class="input-group">
                    <input type="email" name="email" required>
                    <label for="">Email</label>
                </div>
                <button type="submit" name="register">Sign Up</button>
                <div class="signUp-link">
                    <p>Already have an account? <a href="#" class="SignInBtn-link" id="signIn">Sign In</a></p>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('signUp').addEventListener('click', function (event) {
            event.preventDefault();
            document.querySelector('.wrapper').classList.add('active');
        });

        document.getElementById('signIn').addEventListener('click', function (event) {
            event.preventDefault();
            document.querySelector('.wrapper').classList.remove('active');
        });
    </script>

</body>

</html>