<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPMIPA - Dashboard</title>
    <!-- ======= Style ====== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/darkmode.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Ruangkelas.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://mpld3.github.io/js/mpld3.v0.3.js"></script>

    <style>
        .button-group-scroll {
            position: fixed;
            /* Menjadikan elemen tetap */
            top: 20px;
            /* Jarak dari atas halaman */
            right: 20px;
            /* Jarak dari sisi kanan halaman */
            z-index: 1000;
            /* Menempatkan elemen di atas elemen lain */
            display: flex;
            /* Mengatur elemen anak secara horizontal */
            gap: 10px;
            /* Jarak antar tombol */
        }

        .button-group-scroll button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            white-space: nowrap;
            /* Mencegah teks tombol membungkus */
        }

        .button-group-scroll button:hover {
            background-color: #45a049;
        }

        #sortOrder {
            margin-bottom: 10px;
            padding: 5px;
            font-size: 14px;
        }

        .merged-row td:first-child {
            border-top: none;
        }

        .merged-row td {
            border-bottom: none;
        }

        .terpakai:hover {
            background-color: #ff9999;
        }

        .popup button#booking-button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .popup button#booking-button:hover {
            background-color: #0056b3;
        }


        .popup {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: white;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        #popup-content {
            margin-bottom: 20px;
        }

        td.boking {
            background-color: green;
            color: white;
        }

        .terpakai {
            background-color: yellow !important;
            color: black;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s ease;
            border: 1px solid yellow;
            border-radius: 4px;
        }

        .none {
            background-color: red !important;
            color: white;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s ease;
            border: 1px solid red;
            border-radius: 4px;
        }

        .booking {
            background-color: green !important;
            color: white;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s ease;
            border: 1px solid green;
            border-radius: 4px;
        }

        .default {
            background-color: yellow !important;
            color: black;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s ease;
            border: 1px solid gray;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <!-- ========  SideBar ======= -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="/">
                        <span class="icon">
                            <img src="{{ url_for('static', filename='images/FPMIPAUPI.png')}}" alt="FPMIPA"
                                class="logo-img">
                        </span>
                        <span class="title-brand">Jadwal <br>
                            <b>FPMIPA UPI</b>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/home">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/diagram">
                        <span class="icon">
                            <ion-icon name="duplicate-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard">
                        <span class="icon">
                            <ion-icon name="podium-outline"></ion-icon>
                        </span>
                        <span class="title">Recap FPMIPA</span>
                    </a>
                </li>
                <li>
                    <button id="darkModeToggle" onclick="toggleDarkMode()">
                        <span class="icon">
                            <ion-icon name="contrast-outline"></ion-icon>
                        </span>
                        <span class="title">Dark Mode</span>
                    </button>
                </li>
            </ul>
            <footer>
                <!-- Tautan Sosial Media -->
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/hanifahah" target="_blank" rel="noopener noreferrer">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                    <a href="https://github.com/HanifahAH01" target="_blank" rel="noopener noreferrer">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                    <a href="https://www.instagram.com/hah_hanifah" target="_blank" rel="noopener noreferrer">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    <a href="http://Wa.me/+6281364986912" target="_blank" rel="noopener noreferrer">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                    </a>
                    <a href="hanifah al humaira#1327" target="_blank" rel="noopener noreferrer">
                        <ion-icon name="logo-discord"></ion-icon>
                    </a>
                </div>
                <p>&copy; 2024 FPMIPA UPI. Dibuat oleh Hanifah.</p>
            </footer>
        </div>
        <!-- ============== Main ============== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="grid-outline"></ion-icon>
                </div>
            </div>
            <!-- Details -->
            <div class="details">
                <div class="recentOrders">
                    <!-- <div class="cardHeader">
                        <div class="button-group">
                            <a class="btn-secondary" data-filter="all_chart" onclick="filterCharts(event)">ALL</a>
                            <a class="btn-thirdty" data-filter="chart_bar" onclick="filterCharts(event)">Okupansi
                                Kapasitas Ruangan</a>
                            <a class="btn-thirdty" data-filter="heatmap" onclick="filterCharts(event)">Okupansi
                                Penggunaan Ruangan</a>
                            <a class="btn-thirdty" data-filter="chart_line" onclick="filterCharts(event)">Pemakaian
                                Ruangan Esidental</a>
                            <a class="btn-thirdty" data-filter="jadwal_ruangan" onclick="filterCharts(event)">Okupansi
                                Ruangan Dengan Waktu</a>
                        </div>
                    </div> -->
                    <br>
                    <div class="chartCard" id="chartCard">
                        <!-- Tombol Navigasi -->
                        <div class="button-group-scroll">
                            <!-- <button onclick="scrollToSection('chart_bar')">Okupansi Kapasitas Ruangan</button> -->
                            <select onchange="scrollToSection(this.value)">
                                <!-- <option value="chart_bar">Okupansi Kapasitas Ruangan</option> -->
                                <option value="Gedung_A">Okupansi Kapasitas Gedung A</option>
                                <option value="Gedung_B">Okupansi Kapasitas Gedung B</option>
                                <option value="Gedung_C">Okupansi Kapasitas Gedung C</option>
                                <option value="Botani">Okupansi Kapasitas Gedung Praktek Botani</option>

                            </select>
                            <!-- <button onclick="scrollToSection('heatmap')">Okupansi Ruangan Dengan Waktu</button> -->
                            <select onchange="scrollToSection(this.value)">
                                <option value="myChart8">Pemakaian Ruangan Esidental</option>
                                <option value="myChartHari">Rekap Penggunaan Ruangan</option>

                            </select>
                            <select onchange="scrollToSection(this.value)">
                                <option value="heatmap">Okupansi Penggunaan Ruangan</option>
                                <option value="jadwal_ruangan">Jadwal Ruangan</option>
                                <option value="booking">Booking</option>
                                <option value="Laporan_booking">Rekap Booking</option>
                                <option value="report">Report</option>
                                <option value="Laporan_report">Rekap Report</option>
                            </select>
                            <!-- <button onclick="scrollToSection('booking')">Booking</button>
                            <button onclick="scrollToSection('Laporan_booking')">Rekap Booking</button>
                            <button onclick="scrollToSection('report')">Report</button>
                            <button onclick="scrollToSection('Laporan_report')">Rekap Report</button> -->
                        </div>
                        <!-- Start Chart PIE Gedung FPMIPA -->
                        <div class="chartBox" id="chart_bar">
                            <!-- <h2>Okupansi Kapasitas Ruangan</h2> -->
                            <!-- <div class="scrollBox">
                                <canvas id="myChart3" style="width: 400px; height: 400px;"></canvas>
                            </div>
                            <br> -->
                            <br>
                            <!-- FPMIPA A -->
                            <div class="scrollBox">
                                <h2 id="Gedung_A">Okupansi Kapasitas Gedung A</h2>
                                <canvas id="myChart4"></canvas>
                            </div>
                            <div class="scrollBox">
                                <h2 id="Gedung_B">Okupansi Kapasitas Gedung B</h2>
                                <canvas id="myChart5"></canvas>
                            </div>
                            <div class="scrollBox">
                                <h2 id="Gedung_C">Okupansi Kapasitas Gedung C</h2>
                                <canvas id="myChart6"></canvas>
                            </div>
                            <div class="scrollBox">
                                <h2 id="Botani">Okupansi Kapasitas Gedung Praktek Botani</h2>
                                <canvas id="myChart7"></canvas>
                            </div>
                        </div>
                        <br>
                        <!-- Start Chart Heatmap -->
                        <div class="chartBox" id="heatmap">
                            <div class="scrollBox">
                                <div class="scrollBoxBody">
                                    <h2>Penggunaan Ruangan</h2>
                                    <br>
                                    <div class="scrollBoxBody">
                                        <div class="plot-container" style="max-width: 150;">
                                            {{ plot_html | safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Chart Heatmap -->
                        <br>
                        <!-- Start Chart PIE Gedung FPMIPA -->
                        <div class="chartBox" id="chart_line">
                            <div class="scrollBox">
                                <h2>Pemakaian Ruangan Esidental</h2>
                                <canvas id="myChart8"></canvas>
                            </div>
                            <div class="scrollBox">
                                <!-- <h2>Pemakaian Ruangan Esidental</h2> -->
                                <canvas id="myChart9"></canvas>
                            </div>
                            <br>
                            <div class="scrollBox">
                                <h2 id="bubble_chart">Rekap Penggunaan Ruangan</h2>
                                <canvas id="myChartHari"></canvas>
                            </div>
                        </div>
                        <!-- End Chart PIE Gedung FPMIPA -->
                        <br>
                        <!-- Start Jadwal Ruang Kelas -->
                        <div class="chartBox" id="jadwal_ruangan">
                            <h2>Jadwal Ruangan</h2>

                            <br>
                            <a href="/add" class="btn-secondary" id="booking">Booking</a>
                            <a href="/Rekap-Booking" class="btn-thirdty" id="Laporan_booking">Rekap Booking</a>
                            <a href="/report" class="btn-secondary" id="report">Report</a>
                            <a href="/Rekap-Report" class="btn-thirdty" id="Laporan_report">Rekap Report</a>
                            <br>
                            <br>
                            <br>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Ruangan</th>
                                        <th>Senin</th>
                                        <th>Selasa</th>
                                        <th>Rabu</th>
                                        <th>Kamis</th>
                                        <th>Jumat</th>
                                        <th>Sabtu</th>
                                        <th>Minggu</th>
                                    </tr>
                                </thead>
                                <tbody id="jadwal-body">
                                    {% for jadwal in grouped_jadwal %}
                                    <tr>
                                        <td>{{ jadwal[1] }}</td>
                                        <td>{{ jadwal[3] }}</td>
                                        <td>{{ jadwal[5] }}</td>
                                        <td>{{ jadwal[7] }}</td>
                                        <td>{{ jadwal[9] }}</td>
                                        <td>{{ jadwal[11] }}</td>
                                        <td>{{ jadwal[13] }}</td>
                                        <td>{{ jadwal[15] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- End Jadwal Ruang Kelas -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======== Script ========= -->
    <script src="{{ url_for('static', filename='js/Dashboard.js') }}"></script>
    <!-- ======== Chartjs ========= -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/chart1.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/chart2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart3.js') }}"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- Ruang Kelas -->
    <!-- ======== Popup ======= -->
    <div id="popup" class="popup">
        <span class="close-btn" onclick="closePopup()">&times;</span>
        <p id="popup-content"></p>
        <button id="booking-button" data-whatsapp="+6281364986912" onclick="openWhatsApp()">Booking via
            WhatsApp</button>
    </div>


    <!-- ======== Script ========= -->
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            var rows = document.querySelectorAll('#jadwal-body tr');
            var previousRoom = null;
            var rowspanCount = 1; // Jumlah sel yang digabungkan

            rows.forEach(function (row, index) {
                var roomCell = row.querySelector('td:first-child');
                var currentRoom = roomCell.innerHTML.trim();

                if (previousRoom === currentRoom) {
                    // Sembunyikan nama ruangan pada sel yang sama
                    roomCell.style.display = 'none';
                    // Tambahkan rowspan pada sel pertama jika nama ruangan sama dengan sebelumnya
                    var firstCell = rows[index - rowspanCount].querySelector('td:first-child');
                    firstCell.setAttribute('rowspan', rowspanCount + 1);
                    // Tambahkan class untuk menghilangkan border atas pada sel yang digabungkan
                    rows[index - rowspanCount].classList.add('merged-row');
                    // Tambahkan class untuk menghilangkan border bawah pada sel yang digabungkan
                    row.classList.add('merged-row');
                    // Tambahkan data-room attribute pada sel pertama untuk identifikasi
                    firstCell.setAttribute('data-room', currentRoom);
                    rowspanCount++;
                } else {
                    previousRoom = currentRoom;
                    rowspanCount = 1; // Kembalikan jumlah rowspan ke 1 untuk grup baru
                }
            });
        });
        window.addEventListener('DOMContentLoaded', function () {
            var tbody = document.getElementById('jadwal-body');
            var rows = tbody.getElementsByTagName('tr');
            var days = ['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'];

            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                var room = cells[0].innerHTML.trim();

                for (var j = 1; j <= 7; j++) {
                    var cellContent = cells[j].innerHTML.trim();
                    if (cellContent.toLowerCase() === 'terpakai') {
                        cells[j].innerHTML = 'Terpakai';
                        cells[j].classList.add('terpakai');
                        cells[j].setAttribute('data-content', cellContent);
                        cells[j].setAttribute('data-room', room);
                        cells[j].setAttribute('data-day', days[j - 1]);
                        cells[j].addEventListener('click', openPopup);
                    } else if (isTime(cellContent)) {
                        cells[j].innerHTML = cellContent;
                        cells[j].setAttribute('data-content', cellContent);
                        cells[j].setAttribute('data-room', room);
                        cells[j].setAttribute('data-day', days[j - 1]);
                        cells[j].addEventListener('click', openPopup);
                    } else if (cellContent.toLowerCase() === 'none') {
                        cells[j].innerHTML = 'None';
                        cells[j].classList.add('none');
                        cells[j].setAttribute('data-content', cellContent);
                        cells[j].setAttribute('data-room', room);
                        cells[j].setAttribute('data-day', days[j - 1]);
                        cells[j].addEventListener('click', openPopup);
                    } else if (cellContent.toLowerCase() === 'booking') {
                        cells[j].innerHTML = 'Booking';
                        cells[j].classList.add('booking');
                        cells[j].setAttribute('data-content', cellContent);
                        cells[j].setAttribute('data-room', room);
                        cells[j].setAttribute('data-day', days[j - 1]);
                        cells[j].addEventListener('click', openPopup);
                    } else {
                        cells[j].innerHTML = cellContent;
                        cells[j].classList.add('default');
                        cells[j].setAttribute('data-content', cellContent);
                        cells[j].setAttribute('data-room', room);
                        cells[j].setAttribute('data-day', days[j - 1]);
                        cells[j].addEventListener('click', openPopup);
                    }
                }
            }
        });

        function openPopup(event) {
            var popup = document.getElementById('popup');
            var content = event.target.getAttribute('data-content');
            var room = event.target.getAttribute('data-room');
            var day = event.target.getAttribute('data-day');
            var time = event.target.getAttribute('data-content');

            var date = getNextDate(day);

            var popupContent = document.getElementById('popup-content');
            popupContent.innerText = `Ruangan: ${room}\nTanggal: ${date}\nWaktu: ${time}`;

            var bookingButton = document.getElementById('booking-button');
            bookingButton.setAttribute('data-room', room);
            bookingButton.setAttribute('data-date', date);
            bookingButton.setAttribute('data-time', time);

            if (event.target.classList.contains('terpakai') || event.target.classList.contains('booking')) {
                bookingButton.style.display = 'none';
            } else {
                bookingButton.style.display = 'block';
            }

            popup.style.display = 'block';
        }


        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }


        function getNextDate(day) {
            var daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            var dayIndex = daysOfWeek.indexOf(day);
            var today = new Date();
            var resultDate = new Date(today);
            resultDate.setDate(today.getDate() + (dayIndex - today.getDay() + 7) % 7);
            return resultDate.toISOString().split('T')[0];
        }

        function isTime(content) {
            return /\d{2}:\d{2}-\d{2}:\d{2}/.test(content);
        }

        function openWhatsApp() {
            var phoneNumber = document.getElementById("booking-button").getAttribute("data-whatsapp");
            var room = document.getElementById("booking-button").getAttribute("data-room");
            var date = document.getElementById("booking-button").getAttribute("data-date");
            var time = document.getElementById("booking-button").getAttribute("data-time");

            var message = `Yth. Bagian Administrasi,\nSaya ingin melakukan pemesanan ruangan perkuliahan untuk kegiatan berikut:\n\n` +
                `Atas Nama: {Nama Pemesan}\n` +
                `Nama Kegiatan: (Kegiatan / Perkuliahan)\n` +
                `Mata Kuliah (Isi jika untuk kegiatan kuliah): {Mata kuliah}\n` +
                `Pengajar (Isi jika untuk kegiatan kuliah): [Nama Dosen]\n` +
                `Tanggal: ${date}\n` +
                `Waktu (seusaikan jam yang diinginkan): ${time}\n` +
                `Ruangan yang Diinginkan: ${room}\n\n` +
                `Mohon konfirmasi ketersediaan ruangan dan informasi lebih lanjut jika ada persyaratan atau prosedur tambahan yang perlu dilakukan.\n` +
                `Terima kasih atas perhatian dan kerjasamanya.`;

            var whatsappURL = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;

            window.open(whatsappURL, '_blank');
        }

        function filterCharts(event) {
            var filter = event.target.getAttribute('data-filter');
            var charts = document.getElementsByClassName('chartBox');

            for (var i = 0; i < charts.length; i++) {
                if (filter === 'all_chart') {
                    charts[i].style.display = 'block';
                } else if (charts[i].id === filter) {
                    charts[i].style.display = 'block';
                } else {
                    charts[i].style.display = 'none';
                }
            }

            // Update button styles
            var buttons = document.querySelectorAll('.button-group a');
            buttons.forEach(function (button) {
                button.classList.remove('btn-secondary');
                button.classList.add('btn-thirdty');
            });

            // Set clicked button to btn-secondary
            event.target.classList.remove('btn-thirdty');
            event.target.classList.add('btn-secondary');
        }


        // Ensure all charts are displayed on page load
        document.addEventListener("DOMContentLoaded", function () {
            var chartBoxes = document.querySelectorAll(".chartBox");
            chartBoxes.forEach(function (box) {
                box.style.display = "block";
            });
        });

        // Example function to show the popup (could be triggered by another event)
        function showPopup(room, date, time) {
            document.getElementById("popup-content").innerText = `Ruangan: ${room}\nTanggal: ${date}\nWaktu: ${time}`;
            document.getElementById("popup").style.display = "block";
        }

        function scrollToSection(sectionId) {
            var section = document.getElementById(sectionId);
            if (section) {
                section.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>

    <!-- ======== Ionicons ======== -->
    <script type="module" src="https://unpkg.com/ionicons@6.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@6.0.0/dist/ionicons/ionicons.js"></script>
</body>

</html>